<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bit.ankem1.WeatherWorks" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:name=".WeatherWorksApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenWeatherMapScreen"
            android:label="@string/title_activity_open_weather_map_screen"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.ankem1.WeatherWorks.MainScreen" />
        </activity>
        <activity
            android:name=".MetserviceScreen"
            android:label="@string/title_activity_metservice_screen"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.ankem1.WeatherWorks.MainScreen" />
        </activity>
        <activity
            android:name=".WUScreen"
            android:label="@string/title_activity_wuscreen"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.ankem1.WeatherWorks.MainScreen" />
        </activity>
        <activity
            android:name=".ForecastDaysScreen"
            android:label="@string/title_activity_forecast_days_screen"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.ankem1.WeatherWorks.MainScreen" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AllProvidersScreen"
            android:label="@string/title_activity_all_providers_screen"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.ankem1.WeatherWorks.MainScreen" />
        </activity>
    </application>

</manifest>
